<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests" verbose="3">

<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
</listeners>
  <test name="LMS application chrome" parallel="methods" thread-count="5">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.Mytests.LoginTest"/>
      <class name="com.Mytests.HomePageTest"/>
      
      
    </classes>
  </test> <!-- Test -->
  
  <!--  
  <test name="LMS application ff" parallel="methods" thread-count="5">
  <parameter name="browser" value="ff"/>
    <classes>
      <class name="com.Mytests.LoginTest"/>
      <class name="com.Mytests.HomePageTest"/>
      
      
    </classes>
  </test>-->
</suite> <!-- Suite -->
